@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Данное приложение является курсовой работой по дисциплине Программирование в Интернет студента 4 курса 2 группы Романчика Алексея </p>
<div class="content"></div>