@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Город Мниск, ул. Свердлова <br /><br />
    <abbr title="Phone">P:375337775533</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">romanchik_2015@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">romanchik_2014@mail.ru</a>
</address>
<div class="content"></div>